<div>
  <p>ユーザー画像<%= image_tag 'no_image.jpg' %></p>
  <p>name：<%= @movie.customer.name %></p>
  <video src="<%= rails_blob_path(@movie.movie) %>" type="video/mp4" controls></video>
  <p>content：<%= @movie.content %></p>
  <p>投稿日：<%= @movie.created_at.strftime('%Y/%m/%d') %></p>
  <%= link_to "一覧", public_movies_path %>
   <% if @movie.customer == current_customer %>
    <%= link_to "編集", edit_public_movie_path(@movie) %>
    <%= link_to "削除", public_movie_path(@movie), method: :delete %>
  <% end %>
</div>
