<h2 class="text-center">Results index</h2>

<table class="table table-hover table-inverse">
    <!--検索対象モデルがCustomerの時 -->
    <% if @range == "Customer" %>
      <tbody class="text-center">
        <% @customers.each do |customer| %>
        <% if customer.is_deleted == false %>
          <tr>
            <td><%= image_tag customer.get_profile_image(50,50)  %></td>
            <td>
              <%= link_to public_customer_path(customer.id) do%>
                <%= customer.name %>
              <% end %>
            </td>
          </tr>
        <% end %>  
        <% end %>
      </tbody>
    <% else %>

      <tbody class="text-center">
        <% @movies.each do |movie| %>
        <% if movie.customer.is_deleted == false %>
          <tr>
          <td><%= image_tag movie.customer.get_profile_image(50,50)  %></td>
          <td><%= movie.customer.name %></td>
          <td>
            <%= link_to public_movie_path(movie.id) do%>
              <%= movie.content%>
            <% end %>
          </td>
        </tr>
        <% end %>
        <% end %>
      </tbody>
    <% end %>
</table>